body {
	background-color: #fefefe;
	margin: 0;
}

/* Navbar */
header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	width: 100vw;
	padding-top: 20px;	
}

.heading{
	display: inline;
	color: white;
	padding: 20px;
    font-size: 1.1rem;
    text-decoration: none;
}

.heading:hover {
	cursor: pointer;
}

nav button{
	display: block;
	padding: 1vw;
    font-size: 3vh;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    align-self: flex-start;

}

nav a{
	color: white;
	display: block;
}

nav {
	visibility: hidden;
	width: 100vw;
	height: 0;
	margin: 0;
	padding: 20px 0px;
	vertical-align: baseline;
	text-decoration: none;
	list-style-type: none;
	padding: 10px 0;
	transition: visibility 0.5s linear, height 0.5s linear;
}

nav li {
	padding: 10px 0 10px 75px;
	list-style: none;
}

nav li a {
	text-decoration: none;
}

nav ul {
	flex-direction: column;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li{
	margin:0;
}

/* Container */
.container {
	padding: 5% 0;
	width: 80%;
	margin: auto;
}

#container-flex {
	display: flex;
	flex-direction: row-reverse;
}

.container .content {
	width: 100%;
}

.container .project img {
	width: 300px;
	height: 150px;
}

.container .project {
	display: flex;
	justify-content: flex-start;
	padding: 40px 0;
}

.container .project a {
	margin-right: 20px;
	border: 1px solid black;
}

.container pre {
	font-family: 'Times New Roman';
	font-weight: bold;
}

.container form input {
	width: 300px;
	padding: 10px;
	margin: 0 10px 0 0;
}

.container form button {
	padding: 13px 30px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 3px;
}

.container form button:hover {
	cursor: pointer;
}

.container .info {
	display: flex;
	justify-content: flex-start;
}

.container .contact img {
	height: 110px;
	width: 110px;
	padding: 0 20px 20px 0;
}

#red {
	color: red;
}

#green {
	color: green;
}

/* Footer */
footer {
	background-color: black;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

footer p {
	color: white;
	text-align: center;
}

footer a {
	text-decoration: none;
	color: white;
	font-style: italic;
	padding: 10px 20px;
}

footer a:hover {
	background-color: white;
	color: black;
}